<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
  @* Navigation Bar *@
  <div class="nav-bar">
    <a href="/">Home</a>
    <a href="projects">Projects</a>
    <a href="contact">Contact</a>
  </div>

  <div class="title-bar">
    <h1>Projects</h1>
  </div>

  @* Content *@
  <div class="container">

    <div class="scrollable-container">
      <div class="project-bar">
        <div class="project-name">
          <h1>It is Wednesday</h1>
        </div>
        <div class="project-pic">
          <img class="img-size" src="~/images/577-5774824_it-is-wednesday-my-dudes-its-wednesday-my.png" alt="Wednesdaydudes">
        </div>
      </div>
        <div class="project-bar">
          <div class="project-name">
            <h1>My dudes</h1>
          </div>
          <div class="project-pic">
            <img class="img-size" src="~/images/577-5774824_it-is-wednesday-my-dudes-its-wednesday-my.png" alt="Wednesdaydudes">
          </div>
      </div>
    </div>

  </div>

</body>

</html>