@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @await Html.PartialAsync("_UserCreate")
    @await Html.PartialAsync("_UserLogin")
    @await Html.PartialAsync("_PetCreate")
</div>


<a href="/pet/all">See all Pets</a>