@{
    ViewData["Title"] = "Home Page";
}

@model DojoModelsSurvey

<div class="text-center container bs-primary border-subtle">

    <div>
        <h1>Person Form</h1>
    </div>

    <form action="process" method="post" class="bg-primary border-subtle">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        <div>
            <label for="Location">Location: </label>
            <select name="Location" id="Location">
            <option value="Seattle">Seattle</option>
            <option value="San Jose">San Jose</option>
            </select>
        </div>
        <div>
            <label for="Language">Favorite Language: </label>
            <select name="Language" id="language">
                <option value="C#">C#</option>
                <option value="Python">Python</option>
            </select>
        </div>
        <div>
            <label for="Message">Leave a message: </label>
            <textarea name="Message" id="message" cols="30" rows="10"></textarea>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>

    <div>
        <br>
    </div>

    <div>
        <h1>Dog Form</h1>
    </div>

    <form action="processdog" method="post" class="bg-success">
        <div>
            <label for="DogName">Dog Name: </label>
            <input type="text" name="DogName">
        </div>
        <div>
            <label for="DogAge">Age: </label>
            <select name="DogAge" id="DogAge">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div>
            <label for="DogGoodBoy">DogGoodBoy?: </label>
            <input type="radio" name="DogGoodBoy" value="true">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
