@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* Welcome Div *@
<h1>Welcome @Context.Session.GetString("UserName")</h1>

@* Result Div *@
<div>
    <h1>@Context.Session.GetInt32("ResultValue")</h1>
</div>

@* Calculator Buttons *@

<div>

    <div>
        <a href="/process/plus/1">
            <button class="bg-warning"> +1 </button>
        </a>
    </div>
    <div>
        <a href="/process/minus/1">
            <button class="bg-primary"> -1 </button>
        </a>
    </div>
</div>

<div>
    <div>
        <a href="/process/times/2">
            <button class="bg-danger"> x2 </button>
        </a>
    </div>
    <div>
        <a href="/process/random/11">
            <button class="bg-success"> +Random </button>
        </a>
    </div>
    <div>
        <a href="/process/clear">
            <button class="bg-success"> clear </button>
        </a>
    </div>
    <div>
        <form action="/logout" method="post">
            <button class="bg-success"> LogOut </button>
        </form>
    </div>
</div>

<br>
<br>


<a href="/">Back To Front Page</a>