@model User


<style>
  .logo{
    max-width: 50%;
    max-height: 50%;
  }

</style>

<div class="row text-center">
  @await Html.PartialAsync("_NavigationBar")
</div>



  <div id="your-dogs">
    <div class="container drop-shadow p-5">
      <div class="row">
        <div class="col-md-1"></div>
        
        <div class="col-md-10">
          <div>
            <h2 class="display-4 m-4">Hello User @Model.FirstName @Model.LastName</h2>
          </div>
          <div class="row">
              <div class="row m-2">
                  <div class="display-6 col">MONDAY-FRIDAY</div>

              </div>
              <div class="row m-2">
                  <div class="display-6 col">SATURDAY</div>

              </div>
              <div class="row m-2">
                  <div class="display-6 col">SUNDAY</div>

              </div>
          </div>
          <br>

          <div class="row">
            <h2 class="display-5 m-3 bg bg-warning">BOARDING DROP-OFF HOURS</h2>
            <div class="row m-1">
                <div class="display-6 col">MONDAY-FRIDAY</div>
                <div class="display-6 col">1PM-9PM</div>
            </div>
          </div>
        </div>
        
        <div class="col-md-1"></div>

      </div>
    </div>
  </div>



<br>
<br>


  <div id="boardings">
      <div class="container drop-shadow p-5">
        <div class="row">
          <div class="col-md-1"></div>
          
          <div class="col-md-10">
              <div>
                <h2 class="display-4 m-4">Boardings</h2>
              </div>
              <div class="row">
                  <div class="row m-2">
                    <div class="display-6 col">HowlsDogPark@network.com</div>
                  </div>
                  <div class="row m-2">
                    <div class="display-6 col">555-555-6789</div>
                  </div>
                  <div class="row m-2">
                      <div class="display-6 col">1234 Old Town Avenue, West City, Seattle, 98765</div>
                  </div>
              </div>

            <div class="row">
              <div class="row m-1">
              </div>
            </div>
          </div>
          
          <div class="col-md-1"></div>

        </div>
    </div>
  </div>


<div class="floating-bar">
<a href="#navbar"><button class="return-button bg bg-info display-4 d-flex justify-content-center align-items-center">^</button></a>
</div>
<script src="script.js"></script>






<style>
    .custom-row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .top{
        margin-top: auto;
    }

    .bottom{
        margin-bottom: auto;
    }

    .no-decoration{
        text-decoration: none;
    }
</style>