

<style>
  .logo{
    max-width: 50%;
    max-height: 50%;
  }

</style>


<div class="container text-center" style="max-width: 1322px;">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-2">
            <div class="row bg-primary">Test</div>
            <div class="row bg-success">Test</div>
        </div>
        <div class="col-md-8">
            <img class="logo" src="~/images/Small_Logo.jpg" alt="logo">
            <img class="logo" src="~/images/Howls_Moving_Background.jpg" alt="Background">
        </div>
        <div class="col-md-2">
            <div class="row bg-warning align-self-start top">Test</div>
            <div class="row bg-danger align-self-end bottom">Test</div>
        </div>
    </div>
</div>

<style>
    .custom-row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .top{
        margin-top: auto;
    }

    .bottom{
        margin-bottom: auto;
    }
</style>