

<div class="container mt-2 mx-2">
  <div class="row text-center bg-light">
    <div class="col-md-4 mb-3">
      <div class="col-12 bg-success text-white">
        <h1 class="display-4">Users</h1>
        <a href="/users/new" class="text-white d-block">Create an Account / Login</a>
        <a href="/users" class="text-white d-block">See All Users</a>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="col-12 bg-primary text-white">
        <h1 class="display-4">Dogs</h1>
        <a href="/dogs/new" class="text-white d-block">Register Your Pup</a>
        <a href="/dogs" class="text-white d-block">See All Dogs</a>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="col-12 bg-warning text-white">
        <h1 class="display-4">Boardings</h1>
        <a href="/boarding/new" class="text-white d-block">Request A Boarding</a>
        <a href="/boardings" class="text-white d-block">See All Boarding</a>
      </div>
    </div>
  </div>
</div>

@* <div class="row text-center justify-content-center bg-light">
    <div class="col-sm-12 col-md-3 col-lg-5 bg-success text-white">
        <h1 class="display-4">Users</h1>
        <div class="row">
            <a href="/users/new" class="text-white col">Create and Account / Login</a>
            <a href="/users" class="text-white col">See All Users</a>
        </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-5 bg-primary text-white">
        <h1 class="display-4">Dogs</h1>
        <div class="row">
            <a href="/dogs/new" class="text-white col">Register Your Pup</a>
            <a href="/dogs" class="text-white col">See All Dogs</a>
        </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-5 bg-warning text-white">
        <h1 class="display-4">Boardings</h1>
        <div class="row">
            <a href="/boarding/new" class="text-white col">Request A Boardings</a>
            <a href="/boardings" class="text-white col">See All Boarding</a>
        </div>
    </div>
</div> *@

