<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

  <div class="centered-container">

    <div class="col-1">
      <h1>START TIME</h1>
      <h1>@ViewBag.CurrentTime</h1>
    </div>

    <div class="col-2">
      <div>
        <h1>END TIME</h1>
      </div>
      <h1>@ViewBag.EndTime</h1>
    </div>

  </div>
  <div class="centered-container">
    <div>
      <h1> TIME REMAINING</h1>
      <h1> @ViewBag.timeString</h1>


    </div>

  </div>

</body>
</html>