@{
    ViewData["Title"] = "Home Page";
}

@model string

<div>
    <a href="/">Message</a>
    <a href="/numbers">Numbers</a>
    <a href="/singleuser">Single User</a>
    <a href="/users">Users</a>
</div>


<div class="text-center">

    <h1>@Model</h1>

</div>
