@{
    ViewData["Title"] = "Home Page";
}

@model List<int>

<div>
    <a href="/">Message</a>
    <a href="/numbers">Numbers</a>
    <a href="/singleuser">Single User</a>
    <a href="/users">Users</a>
</div>

  @foreach(int num in @Model)
  {
    <h1>@num</h1>
  }