@{
    ViewData["Title"] = "Home Page";
}




<div class="container">

    <div class="row">
        <div class="col-sm-12 col-lg-5">
            <h1 class="display-4">Create a User Here</h1>
            <div>
                <a href="/users/new">Go to Create User</a>
            </div>
            <div>
                <a href="/users">See All Users</a>
            </div>
        </div>

        <div class="col-sm-12 col-lg-5">
            <h1 class="display-4">Create a Dog Here</h1>
        </div>
    </div>

</div>