@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <div class="row text-center">
        @await Html.PartialAsync("_BannerImage")
    </div>

    <div class="row text-center">
        @await Html.PartialAsync("_NavigationBar")
    </div>

</div>