@model Dog

<style>
  .hidden-element
  {
    display: none;
  }
</style>

<div>
  <form asp-action="CreateDog" asp-controller="Dog" method="post">
    <div>
      <label asp-for="Name"></label>
      <input asp-for="Name">
      <span asp-validation-for="Name"></span>
    </div>
    <div>
      <label asp-for="Breed"></label>
      <input asp-for="Breed">
      <span asp-validation-for="Breed"></span>
    </div>
    <div>
      <label asp-for="Weight"></label>
      <input asp-for="Weight">
      <span asp-validation-for="Weight"></span>
    </div>
    <div>
      <label asp-for="Age"></label>
      <input asp-for="Age">
      <span asp-validation-for="Age"></span>
    </div>
    <div>
      <label asp-for="Temperament"></label>
      <input asp-for="Temperament">
      <span asp-validation-for="Temperament"></span>
    </div>
    <div>
      <label asp-for="Vaccinated"></label>
      <input asp-for="Vaccinated">
      <span asp-validation-for="Vaccinated"></span>
    </div>
    <div>
      <label asp-for="Diet"></label>
      <input asp-for="Diet">
      <span asp-validation-for="Diet"></span>
    </div>
    <div>
      <label asp-for="Notes"></label>
      <input asp-for="Notes">
      <span asp-validation-for="Notes"></span>
    </div>

    <div class="hidden-element">
      <input asp-for="UserId" value="@ViewBag.currentUserId">
    </div>

    <div>
      <input type="submit" value="Submit">
    </div>
  </form>

<h1>Test</h1>

  <h1>@ViewBag.currentUserId</h1>

  <h1>Test</h1>

</div>

